@import "../../../index.scss";

.user {
	padding: 20px;
	border: $light-border;
	border-radius: 5px;
	box-shadow: $soft-shadow;
	background-color: $app-primary;
	footer {
		text-align: right;
		button {
			margin-left: 10px;
		}
		button:last-child {
			background-color: rgb(0, 117, 0);
		}
	}
}
