@import "../../index.scss";

.editor {
	form {
		@include flex;
		justify-content: space-between;
		input {
			flex: 1;
			margin-right: 10px;
			padding: 5px;
			border: $light-border;
			background-color: lighten($color: $body, $amount: 5%);
		}
		.submit {
			background-color: $app-accent;
		}
	}
	.tip {
		text-align: center;
		margin-bottom: 0;
	}
	@include media("<=desktop") {
		form {
			flex-direction: column;
			button {
				width: 100%;
			}
			input {
				width: 100%;
				margin-right: 0;
				margin-bottom: 10px;
			}
		}
	}
	@include media("<=phone") {
		form {
			margin-top: 10px;
		}
	}
}
