@import "../../index.scss";

.entity_cont {
	@include flex;
	flex: 1;
	min-width: 50%;
	max-width: 50%;
	.entity {
		position: relative;
		cursor: pointer;
		user-select: none;
		width: 100%;
		height: 40px;
		margin-right: 10px;
		margin-bottom: 10px;
		border-radius: 5px;
		border: $light-border;
		box-shadow: $soft-shadow;
		background-color: $entity-idle;
		transition: 0.2s;
		p {
			@include flex;
			margin: 0;
			height: 100%;
		}
		img {
			position: absolute;
			top: 50%;
			left: 5px;
			transform: translate(0, -50%);
			width: 15px;
		}
		&:hover {
			transition: 0.2s;
			color: white;
			background-color: $entity-active;
		}
	}
	.active_entity {
		background-color: $entity-active;
		color: white;
		transition: 0.2s;
	}
}

.extension {
	flex: 1;
	position: sticky;
	top: 140px;
	width: 100%;
	padding: 10px;
	padding-bottom: 20px;
	margin-top: 10px;
	border-radius: 5px;
	border: $light-border;
	box-shadow: $soft-shadow;
	background-color: $entity-idle;
	.title {
		text-align: center;
		padding-bottom: 10px;
		border-bottom: 2px solid steelblue;
		font-weight: 400;
		font-size: 1.2rem;
	}
}
