@import "../../index.scss";

.stepper {
	z-index: 50;
	position: sticky;
	top: 140px;
	margin-top: 10px;
	border-radius: 5px;
	border: $light-border;
	box-shadow: $soft-shadow;
	background-color: $app-primary;
	@include media("<=phone") {
		border-top: none;
		border-radius: 0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		margin-top: 0px;
		top: 50px;
	}
}

.stepper_gap {
	z-index: 10;
	position: absolute;
	top: -12px;
	width: 100%;
	height: 12px;
	background-color: $app-background;
	@include media("<=phone") {
		display: none;
	}
}

.assemble {
	@include flex;
	align-items: flex-start;
	.entities {
		flex: 2;
		@include flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin: 10px 0;
		.entity_cont {
			@include flex;
			flex: 1;
			min-width: 50%;
			max-width: 50%;
			.entity {
				position: relative;
				cursor: pointer;
				user-select: none;
				@include flex;
				width: 100%;
				height: 40px;
				padding: 5px;
				margin-right: 10px;
				margin-bottom: 10px;
				border-radius: 5px;
				border: $light-border;
				box-shadow: $soft-shadow;
				background-color: $app-primary;
				transition: 0.2s;
				div {
					@include flex;
					width: 100%;
					text-align: center;
					p {
						margin: 0;
						height: 100%;
						width: 95%;
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
					}
				}
				img {
					position: absolute;
					top: 50%;
					left: 5px;
					transform: translate(0, -50%);
					width: 15px;
				}
				&:hover {
					transition: 0.2s;
					color: white;
					background-color: $app-secondary;
				}
			}
			.active_entity {
				background-color: $app-secondary;
				color: white;
				transition: 0.2s;
			}
		}
	}
	.extension {
		z-index: 10;
		flex: 1;
		position: sticky;
		top: 260px;
		width: 100%;
		min-width: 275px;
		padding: 10px;
		padding-bottom: 20px;
		margin-top: 10px;
		border-radius: 5px;
		border: $light-border;
		box-shadow: $soft-shadow;
		background-color: $app-primary;
		.title {
			text-align: center;
			padding-bottom: 10px;
			border-bottom: 2px solid $app-secondary;
			font-weight: 400;
			font-size: 1.2rem;
		}
		.name_placeholder {
			user-select: none;
			text-align: center;
			color: $app-background;
			filter: brightness(90%);
			height: 36px;
			font-size: 1.2rem;
			padding-bottom: 10px;
			border-bottom: 2px solid $app-secondary;
		}
		.name_input {
			@include flex;
			width: 100%;
			@include flex;
			input {
				flex: 1;
				width: 100%;
				border: $light-border;
			}
		}
	}
	@include media("<=desktop") {
		.entities {
			width: 100%;
			.entity_cont {
				min-width: 100%;
				max-width: 100%;
			}
		}
	}
	@include media("<=tablet") {
		flex-direction: column;
		.stepper_gap {
			display: block;
			z-index: 2;
			position: sticky;
			top: 130px;
			left: 0px;
			width: 100%;
			height: 10px;
			background-color: $app-background;
		}
		.extension {
			.title {
				margin-top: 0;
			}
		}
		.entities {
			order: 1;
			width: 100%;
			.entity_cont {
				min-width: 100%;
				max-width: 100%;
				.entity {
					margin-right: 0;
				}
			}
		}
	}
	@include media("<=phone") {
		.extension {
			position: unset;
			top: unset;
			border-radius: 0;
			width: 100vw;
			top: 155px;
			padding-top: 0;
			margin-bottom: 10px;
			margin-bottom: 0;
			overflow-y: scroll;
			border-top: none;
			.title {
				position: sticky;
				top: 0;
				margin: 0;
				margin-bottom: 5px;
				background-color: $app-primary;
			}
			&::-webkit-scrollbar {
				width: 0;
			}
		}
		.entities {
			order: 1;
			width: 100%;
			margin: 0;
			margin-top: 10px;
			.entity_cont {
				min-width: 100%;
				max-width: 100%;
				.entity {
					border-radius: 0;
					margin-right: 0;
				}
			}
		}
	}
}
