@import "../index.scss";

.navbar {
	z-index: 100;
	user-select: none;
	@include flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	padding: 0 25px;
	box-shadow: $soft-shadow;
	background-color: $main;
	* {
		color: black;
	}
	a {
		font-size: 2.5rem;
		margin: 25px 0;
	}
}

.break {
	z-index: 10;
	position: fixed;
	top: 60px;
	width: 100vw;
	height: 10px;
	background-color: $body;
}
