@import "../index.scss";

.prevnull {
	flex: 1;
	padding: 0 10px;
}
.preview {
	flex: 1;
	color: white;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.9);
	.title {
		text-align: center;
		padding-bottom: 10px;
		border-bottom: 2px solid steelblue;
		font-size: 1.2rem;
	}
	ul {
		margin: 5px 0;
		padding-left: 20px;
		li {
			cursor: default;
		}
	}
	.dep {
		font-size: 1.1rem;
		margin: 0;
		margin-top: 20px;
	}
	span {
		color: rgb(91, 160, 206);
		font-size: 0.9rem;
		margin-left: 2px;
	}
	.detail {
		margin: 5px 0;
	}
	.subdep {
		margin: 5px 0;
	}
}
