@import "../index.scss";

.selector {
	flex: 1;
	position: sticky;
	top: 140px;
	width: 100%;
	padding: 10px;
	padding-bottom: 20px;
	margin-top: 10px;
	border-radius: 5px;
	border: $light-border;
	box-shadow: $soft-shadow;
	background-color: $entity-idle;
	.title {
		text-align: center;
		padding-bottom: 10px;
		border-bottom: 2px solid steelblue;
		font-weight: 400;
		font-size: 1.2rem;
	}
	ul {
		padding: 3px 0 3px 20px;
		padding-right: 10px;
		li {
			user-select: none;
			@include flex;
			justify-content: space-between;
			img {
				margin-left: auto;
				width: 15px;
			}
			span {
				color: $preview-span;
				font-size: 0.9rem;
				margin-left: 2px;
			}
		}
	}
}
