@import "../index.scss";

.application {
	@include flex;
	justify-content: flex-start;
	align-items: flex-start;
	height: 100vh;
	width: 100%;
	min-height: 100vh;
	max-width: $max-width;
	margin-top: 60px;
}

.keystone {
	flex: 3;
	height: 100vh;
	margin-top: 60px;
}
