@import "../../index.scss";

.navbar {
	* {
		color: black;
		font-weight: 500;
	}
	flex: unset;
	left: 50%;
	transform: translate(-50%);
	width: unset;
	width: 100vw;
	max-width: $max-width;
	padding: 10px;
	background-color: transparent;
}
