@import "../../index.scss";

.navbar {
	* {
		color: black;
		font-weight: 500;
	}
	flex: unset;
	width: unset;
	padding: unset;
	width: 100%;
	max-width: $max-width;
	height: 50px;
	background-color: transparent;
}
