@import "../../index.scss";

.sidebar {
	cursor: default;
	user-select: none;
	position: sticky;
	top: 0;
	flex: 1;
	.sql {
		font-size: 2.2rem;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 2px solid steelblue;
	}
	h1 {
		cursor: pointer;
	}
	h3 {
		letter-spacing: 1.5px;
		font-weight: 500;
		font-weight: 400;
		margin-bottom: 5px;
	}
	.panel {
		p {
			margin: 0;
		}
		padding: 0px 20px;
		li {
			color: black;
			padding: 3px;
			margin: 0;
			padding-left: 10px;
			letter-spacing: 1px;
			border-left: 2px solid steelblue;
			text-decoration: none;
		}
	}
}
