@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

$body: rgb(221, 221, 221);
$action: rgb(201, 201, 201);
$accent: steelblue;
$main-underline: steelblue;
$sub-underline: rgb(145, 145, 145);

body{
  background-color: $body;
  overflow-y: scroll;
}

.app{
  @include flex;
  justify-content:flex-start;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 800px;
  padding-bottom: 100px;
}

.action-bar{
  @include flex;
  justify-content: space-between;
  margin-top: 100px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  .item{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 100%;
    padding: 0 20px;
    margin: 0px 5px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    background-color: $action;
    transition: .2s;
    border-bottom: 0px solid $accent;
    &:hover{
      transition: .2s;
      background-color: $accent
    }
    &:active{
    transition: .2s;
    background-color: darken($color: $accent, $amount: 5%);
    }
    &:focus{
    transition: .2s;
    border-bottom: 3px solid darken($color: $accent, $amount: 20%);}
  }
}
.action-sig{
    transition: .2s;
    border-bottom: 3px solid darken($color: $accent, $amount: 20%);
}
.greeting{
  @include flex;
  font-size: 2.5rem;
  font-family: Alegreya Sans SC;  flex: 1;
}

.db-manager, .exercise-builder, .workout-builder, .built-workouts{width: 100%;}
.db-title, .ex-title, .wo-title{
  font-size: 2rem;
  margin: 40px 0 20px 0;
  padding-bottom: 15px;
  border-bottom: 2px solid $main-underline;
}
.type-title{
  font-size: 1.4rem;
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid $sub-underline;
}

.type-map{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;
  .item{
    @include flex;
    flex:50%;
    max-width: 50%;
    .shift{
      display: flex;
      justify-content: flex-start;
      width: 90%;
      .label{
        display: flex;
        align-items: center;
        user-select: none;
        .input{margin-right: 10px;}
        .item-name{text-transform: capitalize;padding: 3px 0;}
      }
    }
  }
}

.db-manager{.db-title{span{font-size: 1rem;}}
  .add-compositions{
    width: 100%;
    @include flex;
    justify-content: space-around;
    flex-wrap: wrap;
    form{
      width: 100%;
      @include flex;
      justify-content: space-around;
      flex-wrap: wrap;
      input{width: 30%;}
    }
    button{margin-top: 20px;}
  }
  .type{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid $sub-underline;
    .type-title{
      font-size: 1.4rem;
      border-bottom: 0px solid transparent;
      }
    .type-action span:first-child{
      margin-right: 10px;
      
    }
    .type-action img{width: 20px;cursor: pointer;padding: 3px;box-sizing: content-box;}
    .type-action img:first-child{
      margin-right: 10px;
    }
  }
}

.exercise-builder{
  .viewer{
    @include flex;
    flex-direction: column;
    .ex-name{
      padding: 20px 0 30px;
    }
    .view{
      @include flex;
      flex-direction: column;
      width: 100%;
      .view-types, .type-items, .view-items{
        @include flex;
        justify-content: space-around;
        width: 100%;
        .view-title{
          @include flex;
          width: 50%;
          font-size: 1.4rem;
          padding: 10px 0 20px 0;
          margin-bottom: 10px;
          border-bottom: 1px solid $sub-underline;
        }
        .type{
          @include flex;
          flex-direction: column;
          border-bottom: 0px solid transparent;
          width: 30%;
          padding: 20px 0 40px 0;
          text-transform: capitalize;
        }
      }
    }
    img{
      width: 20px;
      padding: 3px;
      box-sizing: content-box;
      cursor: pointer;
    }
  }
  .ex-namer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    .type-title{
      flex: 1;
      border-bottom: 0px solid transparent;
    }
    form{
      display: flex;
      flex:1;
      input{
        width: 100%;
        margin-right: 10px;
      }
    }
  }
}

.number-setter{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
  .field{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    margin: 0 10px;
    padding: 0px 40px;
  }
  .inc{margin-left: -35px;}
  .dec{margin-right: -35px;}
  .inc, .dec{
    @include flex;
    z-index: 10;
    img{
      width: 15px;
      padding: 5px;
      box-sizing: content-box;
      cursor: pointer;
      &:active{
        transform: scale(.93);
      }
    }
  }
}

.workout-builder{
  .viewer{
    @include flex;
    width: 100%;
    flex-direction: column;
    .view-title{
      text-transform: capitalize; 
      padding: 20px 0 30px;
    }
    .view-item{
      @include flex;
      width: 100%;
      padding: 10px 0;
      justify-content: space-between;
      border-bottom: 1px solid $sub-underline;
      .item-title{text-transform: capitalize; font-size: 1.4rem;}
      .item-setter{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        img{width: 15px;}
        .reps, .sets{
          @include flex;
          justify-content: space-between;
          span{
            padding-right: 10px;
          }
        }
      }
    }
  }
  .type-title{}
  .wo-namer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    .type-title{
      flex: 1;
      border-bottom: 0px solid transparent;
    }
    form{
      display: flex;
      flex:1;
      input{
        width: 100%;
        margin-right: 10px;
      }
    }
  }
}