@import "../index.scss";

.main {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	@include flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-self: stretch;
	width: 100vw;
	padding: 0 10px;
	padding-top: 70px;
	max-width: $max-width;
	@include media("<=phone") {
		padding: 0;
		padding-top: 50px;
	}
}
