@import "../../../index.scss";

.discover {
	padding: 20px;
	border: $light-border;
	border-radius: 5px;
	box-shadow: $soft-shadow;
	background-color: $app-primary;
	section {
		@include flex;
		align-items: flex-start;
		.find_users {
			flex: 2;
			margin-right: 10px;
		}
		.other {
			flex: 1;
		}
	}
}
