@import "../../../index.scss";

.discover {
	padding: 20px;
	border: $light-border;
	border-radius: 5px;
	box-shadow: $soft-shadow;
	background-color: $app-primary;
	.main {
		width: 100%;
	}
	section {
		padding: 0;
		@include flex;
		justify-content: flex-start;
		.community {
			flex: 1;
		}
		.find_people {
			flex: 1;
		}
	}
}
