@import "../../../index.scss";

.exercises_exntension {
	p:first-child {
		margin-top: 20px;
	}
	p {
		margin-bottom: 0;
		margin-top: 5px;
		span {
			color: $app-accent;
			font-size: 0.9rem;
		}
	}
}
