@import "../../index.scss";

.profile {
	user-select: none;
	padding: 20px;
	border: $light-border;
	border-radius: 5px;
	box-shadow: $soft-shadow;
	background-color: $app-primary;
	nav {
		@include flex;
		justify-content: space-between;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 2px solid $app-secondary;
		h1 {
			text-transform: capitalize;
		}
		.icon {
			position: relative;
			width: 100px;
			min-width: 100px;
			max-width: 100px;
			height: 100px;
			min-height: 100px;
			max-height: 100px;
			border-radius: 50%;
			overflow: hidden;
			img {
				position: absolute;
				left: 50%;
				transform: translate(-50%);
				height: 100%;
			}
		}
		div:first-child {
			flex: 2;
			@include flex;
			flex-direction: column;
			label {
				color: white;
				cursor: pointer;
				font-family: "roboto";
				font-size: 0.9rem;
				padding: 6px 12px;
				margin-top: 10px;
				border-radius: 5px;
				background-color: #111111;
			}
			input {
				display: none;
			}
		}
		div:last-child {
			flex: 2;
			@include flex;
			p {
				@include flex;
				margin-left: 45px;
				flex-direction: column;
				span {
					margin-top: 10px;
				}
			}
			button {
				margin-left: 80px;
			}
		}
	}
	main {
		p {
			margin: 5px;
		}
		.head_title {
			@include flex;
			justify-content: space-between;
			margin: 0 20px;
		}
		.head {
			@include flex;
			align-items: stretch;
			.stats,
			.account {
				flex: 1;
				ul {
					width: 100%;
					padding: 0 20px;
					li {
						cursor: default;
						@include flex;
						align-items: flex-start;
						justify-content: space-between;
						margin: 5px;
						margin-left: 10px;
						span {
							flex: 1;
							text-align: left;
						}
					}
				}
			}
			.stats {
				ul {
					width: 100%;
					li {
						p {
							flex: 3;
						}
					}
				}
			}
			.account {
				ul {
					width: 100%;
					li {
						p {
							flex: 1;
						}
					}
				}
				input {
					flex: 1;
					padding: 5px;
					margin-left: 20px;
					border: 1px solid grey;
				}
			}
		}
	}
	footer {
		div {
			text-align: right;
			button {
				margin-left: 10px;
			}
			button:last-child {
				background-color: rgb(0, 117, 0);
			}
		}
	}
}
